.crx-iframe {
  border: none;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.8;
  width: 150px;
  height: 45px;
  background: rgba(233, 200, 200, 0.8);
}

.grow {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.grow:hover {
  opacity: 1;
  width: auto;
  height: auto;
}
